<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="sidenavService.isOpen$ | async"
    (openedChange)="sidenavService.isOpen.next($event)"
  >
    <div class="content">
      <div class="close">
        <span (click)="sidenav.close()">X</span>
      </div>
      <div
        class="image"
        [style]="{ 'background-image': 'url(' + content.image + ')' }"
      ></div>
      <h3 class="name">{{ content.name }}</h3>
      <p class="description">{{ content.description }}</p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container spacing">
      <div class="logo"></div>
      <p class="subtitle">Sidenav com conteúdo dinâmico</p>
      <router-outlet></router-outlet>
      <div class="back" *ngIf="!isHome">
        <button class="btn" (click)="back()">Voltar</button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
